div {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 30%;
}

input {
  height: 3em;
  width: 6em;
  cursor: pointer;
}

button {
  display: inline-block;
  align-items: center;
  font: 900 1em "Raleway", sans-serif;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  display: inline-block;
  padding: 15px;
  font: 600 3.5em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
}

h2 {
  display: inline-block;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.5);
}

textarea {
  padding: 5px 15px;
  font: 900 1em "Raleway", sans-serif;
  text-align: center;
  letter-spacing: 0.01em;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  height: 20px;
  width: 40vw;
  color: rgba(0, 0, 0, 0.5);
  border: none;
}

button:hover {
  background: rgba(255, 255, 255, 0.9);
}
